.list {


  &__item {

    margin: 0 20px 0 30px;
    border: 5mm ridge rgba(255, 215, 0);
  }

  &__img {
    max-width: 50%;
  }

  span {
    font-weight: bold;
    color: #3CB878;
  }

  &__svg {
    cursor: pointer;
  }

}