body {
    text-align: center;
    margin: 200px;
}

.dark-mode {
    background-color: black;
}

.b {
    padding: 10px 10px 10px 10px;
    background-color: #00CBF6;
    border-radius: 5px;
    font-weight: bold;
}

.dark-mode p {
    color: #fff;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color: #fff;
}