.button {
  color: #FFFF00;
  width: 40%;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  margin: 0 7px 10px;
  padding: 5px 10px 5px 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}