.nav-basket {
  margin: 0 auto;
  padding: 50px 0;

  &__title {
    margin: 90px 0 50px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    text-align: center;
  }

  &__popup {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
}