.basket-modal {

 &__info {
    display: flex;
    margin: 0 0 0 50px;
    align-items: center;
    column-gap: 30px;
  }

  &__content-title-close {
    position: absolute;
    top: 3px;
    left: 980px;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }

  &__name {
  font-weight: bold;
  }

  &__img {
    width: 60px;
    height: 55px;
  }

  &__price {
    font-weight: bold;
  }

  &__green {
    font-weight: bold;
    color: #3CB878;
  }

  &__delete {
    cursor: pointer;
  }
}
