.header {
  display: flex;
  justify-content: space-between;


  &__elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    margin: 0 50px ;
  }

  &__star {
  cursor: pointer;
  }

  &__basket {
    cursor: pointer;
  }

  &__title {
    padding: 20px;
    color: #FFA500;
    filter: drop-shadow(2px 2px 2px black);

  }

  &__text {
    color: #FFA500;
    filter: drop-shadow(2px 2px 2px black);
    font-size: 25px;
    font-weight: bolder;
    margin: 0 0 50px 0;
  }
}

.basket {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(1px);
}

.basket-modal-component {
  max-width: 500px;
  max-height: 450px;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  background-color: #FFD700;
  border-radius: 5px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.basket-modal-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-weight: bold;
  color: black;
  margin-right: 30px;
}

.basket-null {
  font-size: 20px;
  font-weight: bold;
}

.basket-text {
  font-size: 20px;
  font-weight: bold;
}