.button-back {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background-color: orange;
  color:black;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
}
