.button {
  width: 20%;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  margin: 20px 15px 0 0;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}