.modal {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(1px);

  &__content {
    max-width: 500px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    background-color: #C71585;
    border-radius: 5px;

  }

    &__content-title-text {
      padding: 10px;
      text-align: center;
      font-size: 20px;
    }

    &__content-title-close {
      position: absolute;
      top: 3px;
      left: 480px;
      cursor: pointer;
      font-weight: bold;
      color: white;
    }

    &__content-text {
      font-weight: bold;
      text-align: center;
      font-size: 15px;
    }

  &__button {
    margin: 0 0 0 25px;
  }
}