.menu {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  padding: 30px 0;
  background-color: #000000;

  &__item {
    font-size: 20px;
    line-height: 40px;
    color: white;
    text-decoration: none;
  }
}
